<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="error-page">
        <h1>Oops! 404</h1>
        <p>We couldn't find the page you're looking for.</p>
        <a href="/">Go Back Home</a>
    </div>

<%- include('includes/end.ejs') %>